<!DOCTYPE html>
<html>
<head>
	<meta charset="EUC-KR">
	<title>Insert title here</title>

	<link type="text/css" rel="stylesheet" href="css/fullcalendar/fullcalendar-2.9.0.css" />
	<link type="text/css" rel="stylesheet" href="css/fullcalendar/fullcalendar-2.9.0.print.css" media='print' />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/fullcalendar/moment.min.js"></script>
	<script type="text/javascript" src="js/fullcalendar/fullcalendar-2.9.0.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/include/calendar.css" />
	<script src="js/include/calendar.js?20190426"></script>
</head>
<body>

<!-- 
커스텀버튼 : https://fullcalendar.io/docs/v3/customButtons#v2
-->


<div id='calendar'></div>
</body>
</html>