<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 이 페이지에서 사용되는 CSS -->
	<link rel="stylesheet" type="text/css" href="css/include/css1.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.7.3.custom.css" />

</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/include/css1.js"></script>
    <p th:text="'Hello, ' + ${name} + '!'" />


<div>1</div>


<a href="#">test1</a>
<a href="#">test2</a>
<!-- <div id="slider-range-max"></div> -->
<div class="ui-widget ui-widget-content"></div>
<div>2</div>
<div>3</div>
<div>4</div>

<div style="border: 1px solid #4A93AB; width: 50px"></div>

</body>
</html>