<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/include/keypress.js"></script>

	<form>
	    <p th:text="'Hello, ' + ${name} + '!'" />
	    <input type="text" class="bt_keydown"/>
	    <div id="txt_view">view</div>
	</form>

</body>
</html>